<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308227016267-nde1g261ju8h1fg5pkm5bv04jvjlphgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308227016267-nde1g261ju8h1fg5pkm5bv04jvjlphgm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>308227016267-ujdr0asl6r822m43nak3209g0bmnta7e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ1BeD_nroPqnLxlBvtvvtscwEo2LSsoU</string>
	<key>GCM_SENDER_ID</key>
	<string>308227016267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ictssc.autopart</string>
	<key>PROJECT_ID</key>
	<string>autopart-f6d0f</string>
	<key>STORAGE_BUCKET</key>
	<string>autopart-f6d0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308227016267:ios:2c224eebbb2bdc2fc3efce</string>
</dict>
</plist>